body {
    font-family: Britannic-Bold, sans-serif;
    margin: 0;
    background-color: #121212;
    color: rgb(0, 255, 234);
}

header {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #00bfff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

.hero {
    text-align: center;
    padding: 60px 20px;
}

.card {
    background-color: #1e1e1e;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #444;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #333;
}

footer {
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    background-color: #1f1f1f;
}